.navbar{
    display: flex;
    justify-content: space-between;
    color: #ccd6f6;
    background-color: #0a192f;
    align-items: center;
    font-weight: bold;
}

.navbar ul{
    display: flex;
    gap: 20px;
}

.navbar li{
    list-style: none;
}

.navbar a{
    text-decoration: none;
    color: #ccd6f6;
}

.navbar a:hover{
    color: #64ffda;
}